No links, or files shall be posted in the discord, or stream without the expressed consent of a Mod.
No soliciting
If AFK for more than 20 minutes, you will be moved into the AFK channel. 
You must be at least 17 years of age.
Lastly, enjoy and have fun!
